@color-input-border: #0000FF;
@color-search-icon: #FFFFFF;
@color-search-icon-background: #0000FF;
@color-search-icon-border: #0000FF;
@color-theme-brand: #FFFFFF;
@color-theme-top-bar: #19B4Cf;
@color-theme-background: #F7F7F7;
@color-container: #FFFFFF;
@color-container-background: #1C6BA0;
@color-container-border: @color-container-background;
@color-list-background: #FFFFFF;
@color-list-border: @color-container-background;
@color-suggester-hover: @color-container;
@color-suggester-hover-background: @color-container-background;