@theme-color-input-border: #0000FF;
@theme-color-search-icon: #FFFFFF;
@theme-color-search-icon-background: #0000FF;
@theme-color-search-icon-border: #0000FF;
@theme-color-search-icon-hover: #000000;
@theme-color-brand: #FFFFFF;
@theme-color-top-bar: #19B4Cf;
@theme-color-background: #F7F7F7;
@theme-color: #FFFFFF;
@theme-color-container-background: #1C6BA0;
@theme-color-container-border: @theme-color-container-background;
@theme-color-list-background: #FFFFFF;
@theme-color-list-border: @theme-color-container-background;
@theme-color-suggester-hover: @theme-color;
@theme-color-suggester-hover-background: @theme-color-container-background;
@theme-color-menu-bar-border: #58C3D6;
@theme-color-menu-bar-background: transparent;
@theme-color-menu-bar-icon: #FFFFFF;
@theme-color-menu-bar-link: #FFFFFF;
@theme-color-menu-bar-border: #58C3D6;
@theme-color-menu-bar-hover-background: #139DB5;