@import "colors";

#logo {
  display: inline-block;
  padding: 15px 15px;
  line-height: 1.250rem;
  color: @theme-color-brand;
  font-weight: 700;
  text-shadow: 0 1px 1px rgb(71, 103, 132);
  font-family: 'Lato', sans-serif;
  font-size: 1.375rem;
  float: left;
}