@import "colors.less";

.searchInput {
  display: none;
  width: 75%;
  vertical-align: top;
  position: relative;
  overflow: hidden;

  .fa-search {
    vertical-align: top;
    background-color: @color-search-icon-background;
    padding: 7px 7px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid @color-search-icon-border;
    color: @color-search-icon;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      padding: 6px 7px;
      transform: scale(1.1);
      right: 1px;
      color: #000000;
    }
  }

  input {
    width: 100%;
    border: 1px solid @color-input-border;
    padding: 7px 31px 8px 5px;
  }
}
