body {
  background-color: #F7F7F7;
  font-family: 'Raleway', sans-serif;
}
#root {
  padding-top: 15px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: auto;
  margin: 0 auto;
  padding: 0 15px;
}
.genreDropdown {
  display: none;
  width: 25%;
  vertical-align: top;
}
.search {
  display: table;
  width: 100%;
  background-color: #19B4Cf;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid #19B4Cf;
  border-radius: 4px;
}
@media (min-width: 1200px) {
  #root {
    padding-top: 50px;
  }
}
