@media (min-width: 1200px) {
  .searchInput {
    padding-right: 0;
  }
  .searchInput input {
    padding-right: 42px;
    max-width: 202px;
  }
  .searchInput .fa-search {
    display: inline-block;
    border-radius: 4px;
  }
}
